@import 'tailwindcss';

/* ===================================
   Color Variables - Light Theme
   =================================== */
:root {
  /* Background */
  --color-bg-primary: #e6d7ff;
  --color-bg-secondary: #e7d1ff;
  --color-bg-tertiary: #e1c4ff;
  --color-bg-quaternary: #d8b9ff;
  --color-bg-quinary: #d2afff;
  --color-bg-accent: #ff5c00;
  --color-bg-translucent: rgba(0, 0, 0, 0.02);
  --color-bg-primary-inverted: #08090a;

  /* Border */
  --color-border-primary: #e9e8ea;
  --color-border-secondary: #e4e2e4;
  --color-border-tertiary: #dcdbdd;
  --color-border-accent: #ff5c00;
  --color-border-translucent: rgba(0, 0, 0, 0.05);

  /* Text */
  --color-text-primary: #282a30;
  --color-text-secondary: #3c4149;
  --color-text-tertiary: #6f6e77;
  --color-text-quaternary: #86848d;
  --color-text-accent: #7e6999;
  --color-text-primary-inverted: #f7f8f8;

  /* Link */
  --color-link-primary: #2c2c69;
}

@layer utilities {
  /* ---------- Text Colors ---------- */
  /* TEXT */
  .text-primary {
    color: var(--color-text-primary);
  }

  .hover\:text-primary:hover {
    color: var(--color-text-primary);
  }
  .focus\:text-primary:focus {
    color: var(--color-text-primary);
  }
  .active\:text-primary:active {
    color: var(--color-text-primary);
  }

  .text-secondary {
    color: var(--color-text-secondary);
  }

  .hover\:text-secondary:hover {
    color: var(--color-text-secondary);
  }
  .focus\:text-secondary:focus {
    color: var(--color-text-secondary);
  }
  .active\:text-secondary:active {
    color: var(--color-text-secondary);
  }
  .text-tertiary {
    color: var(--color-text-tertiary);
  }
  .hover\:text-tertiary:hover {
    color: var(--color-text-tertiary);
  }
  .focus\:text-tertiary:focus {
    color: var(--color-text-tertiary);
  }
  .active\:text-tertiary:active {
    color: var(--color-text-tertiary);
  }
  .text-quaternary {
    color: var(--color-text-quaternary);
  }
  .hover\:text-quaternary:hover {
    color: var(--color-text-quaternary);
  }
  .focus\:text-quaternary:focus {
    color: var(--color-text-quaternary);
  }
  .active\:text-quaternary:active {
    color: var(--color-text-quaternary);
  }
  .text-link {
    @apply opacity-80 transition-all duration-300 hover:opacity-100;
    color: var(--color-link-primary);
  }
  .hover\:text-link:hover {
    color: var(--color-link-primary);
  }
  .focus\:text-link:focus {
    color: var(--color-link-primary);
  }
  .active\:text-link:active {
    color: var(--color-link-primary);
  }

  .text-primary-inverted {
    color: var(--color-text-primary-inverted);
  }
  .hover\:text-primary-inverted:hover {
    color: var(--color-text-primary-inverted);
  }
  .focus\:text-primary-inverted:focus {
    color: var(--color-text-primary-inverted);
  }
  .active\:text-primary-inverted:active {
    color: var(--color-text-primary-inverted);
  }

  .text-accent {
    color: var(--color-text-accent);
  }

  /* ---------- Background Colors ---------- */
  /* BACKGROUNDS */
  .bg-primary {
    background-color: var(--color-bg-primary);
  }

  .bg-secondary {
    background-color: var(--color-bg-secondary);
  }

  .hover\:bg-secondary:hover {
    background-color: var(--color-bg-secondary);
  }
  .focus\:bg-secondary:focus {
    background-color: var(--color-bg-secondary);
  }
  .active\:bg-secondary:active {
    background-color: var(--color-bg-secondary);
  }

  .bg-tertiary {
    background-color: var(--color-bg-tertiary);
  }
  .hover\:bg-tertiary:hover {
    background-color: var(--color-bg-tertiary);
  }
  .focus\:bg-tertiary:focus {
    background-color: var(--color-bg-tertiary);
  }
  .active\:bg-tertiary:active {
    background-color: var(--color-bg-tertiary);
  }

  .bg-translucent {
    background-color: var(--color-bg-translucent);
  }

  .hover\:bg-translucent:hover {
    background-color: var(--color-bg-translucent);
  }
  .focus\:bg-translucent:focus {
    background-color: var(--color-bg-translucent);
  }
  .active\:bg-translucent:active {
    background-color: var(--color-bg-translucent);
  }

  .bg-quaternary {
    background-color: var(--color-bg-quaternary);
  }
  .hover\:bg-quaternary:hover {
    background-color: var(--color-bg-quaternary);
  }
  .focus\:bg-quaternary:focus {
    background-color: var(--color-bg-quaternary);
  }
  .active\:bg-quaternary:active {
    background-color: var(--color-bg-quaternary);
  }

  .bg-quinary {
    background-color: var(--color-bg-quinary);
  }

  .hover\:bg-quinary:hover {
    background-color: var(--color-bg-quinary);
  }
  .focus\:bg-quinary:focus {
    background-color: var(--color-bg-quinary);
  }
  .active\:bg-quinary:active {
    background-color: var(--color-bg-quinary);
  }
  .bg-accent {
    background-color: var(--color-bg-accent);
  }
  .hover\:bg-accent:hover {
    background-color: var(--color-bg-accent);
  }
  .focus\:bg-accent:focus {
    background-color: var(--color-bg-accent);
  }
  .active\:bg-accent:active {
    background-color: var(--color-bg-accent);
  }

  .bg-primary-inverted {
    background-color: var(--color-bg-primary-inverted);
  }
  .hover\:bg-primary-inverted:hover {
    background-color: var(--color-bg-primary-inverted);
  }
  .focus\:bg-primary-inverted:focus {
    background-color: var(--color-bg-primary-inverted);
  }
  .active\:bg-primary-inverted:active {
    background-color: var(--color-bg-primary-inverted);
  }

  /* ---------- Border Colors ---------- */
  .border-primary {
    border-color: var(--color-border-primary);
  }
  .hover\:border-primary:hover {
    border-color: var(--color-border-primary);
  }
  .focus\:border-primary:focus {
    border-color: var(--color-border-primary);
  }
  .active\:border-primary:active {
    border-color: var(--color-border-primary);
  }
  .border-secondary {
    border-color: var(--color-border-secondary);
  }
  .hover\:border-secondary:hover {
    border-color: var(--color-border-secondary);
  }
  .focus\:border-secondary:focus {
    border-color: var(--color-border-secondary);
  }
  .active\:border-secondary:active {
    border-color: var(--color-border-secondary);
  }
  .border-tertiary {
    border-color: var(--color-border-tertiary);
  }
  .hover\:border-tertiary:hover {
    border-color: var(--color-border-tertiary);
  }
  .focus\:border-tertiary:focus {
    border-color: var(--color-border-tertiary);
  }
  .active\:border-tertiary:active {
    border-color: var(--color-border-tertiary);
  }
  .border-translucent {
    border-color: var(--color-border-translucent);
  }
  .hover\:border-translucent:hover {
    border-color: var(--color-border-translucent);
  }
  .focus\:border-translucent:focus {
    border-color: var(--color-border-translucent);
  }
  .active\:border-translucent:active {
    border-color: var(--color-border-translucent);
  }
  .border-accent {
    border-color: var(--color-border-accent);
  }
}

@theme {
  /* Font Families */
  --font-general-sans: 'GeneralSans-Variable', sans-serif;
}

@layer components {
  h1 {
    @apply font-general-sans text-6xl font-medium;
    line-height: 120%;
    color: var(--color-text-primary);
  }

  h2 {
    @apply font-general-sans text-5xl font-medium;
    line-height: 120%;
    color: var(--color-text-primary);
  }
  h3 {
    @apply font-general-sans text-2xl font-normal;
    line-height: 120%;
    color: var(--color-text-primary);
  }
  h4 {
    @apply font-general-sans text-lg;
    line-height: 120%;
    color: var(--color-text-secondary);
  }
  h5 {
    @apply font-general-sans text-sm;
    line-height: 150%;
    color: var(--color-text-tertiary);
  }

  h6 {
    @apply font-general-sans text-xs;
    line-height: 150%;
    color: var(--color-text-tertiary);
  }

  p {
    @apply font-general-sans text-base font-light tracking-wider;
    line-height: 150%;
    color: var(--color-text-secondary);

    &.lead {
      @apply font-general-sans text-2xl font-thin;
      color: var(--color-text-tertiary);
    }
  }
}
